<!DOCTYPE html>
<html lang="en">
<head>
  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My App</title>
</head>
<body>
  <ul>
    <h1>My Heros</h1>
    <% for(let i=0; i< data.length; i++) {%>
      <li id=<%=i%>>
        <%= data[i].id%> <%= data[i].name%>
      </li>
    <% } %>
  </ul>
  <p id="selected-hero-text"></p>
  <script>
    let heros = '<%- JSON.stringify(data) %>'
    heros = JSON.parse(heros)
    $('li').click(function() {
      const selectedId = $(this).attr('id')
      const selectedHero = heros[selectedId]
      let resultElement = document.getElementById('selected-hero-text')
      resultElement.innerHTML = `My hero is <u>${selectedHero.name}</u>`
    });
  </script>
</body>
</html>